html, body {
    min-height: 100%;
    margin: 0 auto;
}

.sidebar {
    height: 100vh;
}

.main-container {
    display: flex;
}

.task-container {
  /* display: flex; */
  width: 100vh;
}

/* .task-list {
    margin-top: 15%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
} */